.AddSectionButton{
    /* background-color: #777; */
    background-color: #9370DB;
    padding: 10px;
    height: 20px;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}

.AddSectionButton:hover{
    /* background-color: #000; */
    background-color: #8A2BE2;
}