.Section {
    /* border: 1px solid #333; */
    padding: 10px 0px;
    margin: 0px 10px;
    flex-grow: 1;
    border-radius: 7px;
    /* background-color: #CCC; */
    /* background-color: #ebecf0; */
    background-color: #E6E6FA;
    
}

.Header{
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
    color: #000;
}

.Tasks{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 10px;
}

.AddTaskButton{
    /* background-color: #777; */
    background-color: #9370DB;
    padding: 10px;
    height: 20px;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    width: 100px;
    margin: auto;
}

.AddTaskButton:hover{
    /* background-color: #000; */
    background-color: #8A2BE2;
}