.App {
  text-align: center;
}

.HeaderRow {
  font-size: 22px;
  padding-top: 20px;
  padding-bottom: 20px;
  /* background-color: #333; */
  background-color: #9370DB;
  color: white;
  font-family: Tahoma;
}

.BodyRow {
  padding: 20px 10px;
  display: flex;
  flex-direction: row;
  justify-content: center
}